.app-main {
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 5rem;
    color: var(--gray-color);

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    .mobile-section-heading {
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
            // margin-top: 5rem;
            // padding: 1rem 0rem;
            // margin: 2rem 0rem;

            margin: 2rem -2rem  2rem -2rem;
            padding:1rem 2rem  1rem  2rem;
            color: var(--white-color);
        }
    }

    .m-block {
        
        display: flex;
        margin: 2rem -2rem 0rem -2rem;
        padding: 0rem 2rem;

        @media screen and (max-width: 768px) {
            display: block;
            margin: 2rem -1rem 0rem -1rem;
            padding: 0.5rem 1rem;
            border-radius: 5px;
        }

        .m-block-year {
            width: 150px;
            font-weight: 500;

            @media screen and (max-width: 768px) {
                width: 100%;
                line-height: 1rem;
                font-weight: 600;
            }
        }

        .m-block-heading {
            font-weight: 600;
            color: var(--white-color);

            @media screen and (max-width: 768px) {
                line-height: 1rem;
                font-weight: 600;
            }
        }

        &:hover {
            box-shadow: 0 0 1px #363636;
            background: #0e0e0ea1;
            transition: .25s linear 0s;

            .m-block-year {
                color: var(--secondary-color);
            }

            .m-block-heading {
                color: var(--secondary-color);
            }

            .up-right-arrow {
                color: var(--secondary-color);
                transform: translate(0.25rem, -0.25rem);
            }
        }

        ul {
            margin-bottom: 1.5rem;
        }
    }
}

 /* Apply styles for screens larger than 768 pixels */
 @media (min-width: 769px) {

    /* Target the parent link and remove pointer-events restriction */
    a.mobile-disabled {
        pointer-events: auto;
    }
}

/* Apply styles for screens up to 768 pixels (mobile devices) */
@media (max-width: 768px) {

    /* Target the parent link and disable pointer-events */
    a.mobile-disabled {
        pointer-events: none;
        /* Optionally, you can add additional styling to make it visually disabled */

        /* Change color to a gray tone */
        text-decoration: none;
        /* Remove underline */
        cursor: default;
        /* Change cursor to default */
    }

    /* Target the child link and enable pointer-events */
    a.mobile-disabled {
        pointer-events: auto;
        /* Optionally, you can reset any additional styling applied to the child link */
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }
}